.territory {
  fill: #a9a9a9;
}
.territory:hover {
  fill: #22aa44;
}
.compass {
  fill: #fff;
  stroke: #000;
  stroke-width: 1;
}
.button {
  fill: #225EA8;
  stroke: #0C2C84;
  stroke-width: 0.5;
  stroke-miterlimit:6;
  stroke-linecap: round;
}
.button:hover {
  stroke-width: 1;
}
.plus-minus {
  fill: #fff;
  pointer-events: none;
}